PORT=8000
CORS_ORIGIN=*
AUTH_SERVICE_URL=http://localhost:8001
PRODUCT_SERVICE_URL=http://localhost:8002
SUPPLIER_SERVICE_URL=http://localhost:8003
ORDER_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005
LOGISTICS_SERVICE_URL=http://localhost:8006
